<div class="container-fluid">
  <!-- /.card -->
  <!-- Horizontal Form -->
  <div class="modal-header ">
    <h2 class="m-0 font-weight-bold card-title" th:text="${edit}? 'Modificar Cargo' : 'Registrar Cargo'"></h2>
    <button type="button" class="close" aria-label="Cerrar" data-mdb-toggle="modal" id="cerrarVentanaFormulario">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- form start -->
  <form class="form-horizontal" id="FormularioRegistrarCargo" method="POST"
    th:action="${edit} ?@{/ModCargoG} : @{/GuardarRegistroCargo}">
    <div class="modal-body">
      <div th:if="${edit=='true'}">
        <input type="hidden" th:field="${cargo.id_cargo}">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!-- text input -->
          <div class="form-group form-outline">
            <input type="text" th:field="${cargo.nombre}" class="form-control" placeholder="Nombre" required>
            <label class="form-label">Nombre del Cargo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" th:text="${edit}? 'Guardar Cambios' : 'Registrar'"></button>
      <a type="button" aria-label="Cerrar" data-mdb-toggle="modal" class="btn btn-default float-right">Cancelar</a>
    </div>
  </form>
  <!-- /.card -->
  <script>
    $(document).ready(function () {
      $('#FormularioRegistrarCargo').submit(function (event) {
        event.preventDefault();
        var form = document.getElementById("FormularioRegistrarCargo");
        var action = form.action;
        //alert("la action es: "+action);
        var formData = $(this).serialize();
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          contentType: 'application/x-www-form-urlencoded', // Agregar esta línea
          success: function (response) {
            var mensaje = response;
            if (mensaje === 'Ya existe un registro con este nombre') {
              Swal.fire(
                'Imposible Registrar!',
                mensaje,
                'error'
              );
            } else if (mensaje === 'Se realizó el registro correctamente' || mensaje === 'Se guardaron los cambios correctamente') {
              $('#cerrarVentanaFormulario').click();
              cargarFormulario();
              cargarTabla();
              var div = document.getElementById("dataTable");
              div.scrollIntoView({ behavior: 'smooth' });
              Swal.fire(
                'Registrado!',
                mensaje + '.',
                'success'
              );
            }
          },
          error: function (xhr, status, error) {
            toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.');
            console.error(error);
            // Manejo de errores
          }
        });
      });
    });
    function limpiarFormularioR() {
      var form = document.getElementById("FormularioRegistrarCargo");
      form.reset();
    }
  </script>
  <script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
      new mdb.Input(formOutline).init();
    });
  </script>
</div>