<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold card-title">Registros de Usuarios</h6>
                <button type="button" class="btn btn-success ml-auto px-4 py-2" data-mdb-toggle="modal"
                    data-mdb-target="#formularioRegistroModal" onclick="cargarFormulario();"
                    th:if="${#lists.contains(permisos.![nombre], 'registrar_usuario')}">
                    <span class="mr-2">Registrar</span>
                    <i class="fa-solid fa-user-plus"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Foto</th>
                                <th>Nombres y Apellidos</th>
                                <th>C.I.</th>
                                <th>Nombre de Usuario</th>
                                <th>Contraseña</th>
                                <th>Permisos</th>
                                <th
                                    th:if="${#lists.contains(permisos.![nombre], 'editar_usuario') or #lists.contains(permisos.![nombre], 'eliminar_usuario')}">
                                    Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="user, rowStat:${usuarios}" th:if="${user.estado!='X'}">
                                <td th:text="${rowStat.count}"></td>
                                <td class="text-center">
                                    <div class="image">
                                        <img th:src="@{'/verFoto/' + ${user.id_usuario}}" class="img-circle elevation-1"
                                            alt="User Image" width="50px" height="50px">
                                    </div>
                                </td>
                                <td class="text-center" th:text="${user.persona.nombre}+' '+${user.persona.apellido}">
                                </td>
                                <td class="text-center" th:text="${user.persona.ci}"></td>
                                <td class="text-center" th:text="${user.nombre_user}"></td>
                                <td class="text-center" th:text="${user['contraseña']}"></td>
                                <td class="text-center">
                                    <div class="btn-group dropleft" th:if="${user.permisos.size() > 0}">
                                        <button type="button" class="btn btn-outline-success dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                            <span style="text-transform: none;">Ver Permisos</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"  style="max-height: 200px; overflow-y: auto;">
                                            <li class="dropdown-item-title text-bold text-center">
                                                Permisos Asignados
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li class="dropdown-item" th:each="permiso: ${user.permisos}"
                                                th:text="${permiso.nombre}"></li>
                                        </div>
                                    </div>
                                    
                                    <ul class="list-group list-group-light list-group-small"
                                        th:if="${user.permisos.size() == 0}">
                                        <li class="list-group-item">
                                            No tiene Permisos
                                        </li>
                                    </ul>
                                </td>
                                <td class="text-center"
                                    th:if="${#lists.contains(permisos.![nombre], 'editar_usuario') or #lists.contains(permisos.![nombre], 'eliminar_usuario')}">
                                    <div class="btn-group">
                                        <a class="btn btn-info" type="button" style="color: aliceblue;"
                                            data-mdb-toggle="modal" data-mdb-target="#formularioRegistroModal"
                                            th:if="${#lists.contains(permisos.![nombre], 'editar_usuario')}"
                                            th:attr="onclick='cargarModFormulario(\'' + ${user.id_usuario} + '\')'">
                                            <li class="fas fa-pencil-alt "></li>
                                        </a>
                                        <a class="btn btn-danger" type="button" style="color: aliceblue;"
                                            th:if="${#lists.contains(permisos.![nombre], 'eliminar_usuario')}"
                                            th:attr="onclick='EliminarRegistro(\'' + ${user.id_usuario} + '\', \'' + ${user.nombre_user} + '\', \'' + ${user.persona.nombre}+' '+${user.persona.apellido} + '\')'">
                                            <li class="fa-solid fa-trash "></li>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-secondary">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Foto</th>
                                <th>Nombres y Apellidos</th>
                                <th>C.I.</th>
                                <th>Nombre de Usuario</th>
                                <th>Contraseña</th>
                                <th>Permisos</th>
                                <th
                                    th:if="${#lists.contains(permisos.![nombre], 'editar_usuario') or #lists.contains(permisos.![nombre], 'eliminar_usuario')}">
                                    Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</section>