<div class="container-fluid">
    <!-- /.card -->
    <!-- Horizontal Form -->
    <div class="card card-info">
        <div class="card-header">
            <h2 class="m-0 font-weight-bold card-title"
                th:text="${edit}? 'Modificar Registro Descripción Serie Documental' : 'Registrar Descripción Serie Documental'">
            </h2>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" id="FormularioRegistrarSubSerieDoc" method="POST"
            th:action="${edit} ? @{/GuardarCambiosDescripcionSeriesDocDetalle} : @{/GuardarRegistroDescripcionSeriesDocDetalle}"
            enctype="multipart/form-data">
            <div class="card-body">
                <div th:if="${edit == 'true'}">
                    <input type="hidden"
                        th:field="${descripcionSerieDocDetalle.id_descripcion_serie_documental_detalle}" />
                </div>
                <input type="hidden" th:each="idP: ${id_descripcioSerieDocumental}" th:value="${idP}"
                    name="id_seriePadre" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="tipoArchivo">Cubierta</label>
                        <select class="select-fieldSerie" style="width: 100%;"
                            th:field="${descripcionSerieDocDetalle.cubierta}" id="selectUnidadCModal" required>
                            <option th:value="${edit} ? ${descripcionSerieDocDetalle.cubierta.id_cubierta} : ''"
                                th:text="${edit} ? ${descripcionSerieDocDetalle.cubierta.nombre} : 'Seleccionar'"
                                selected></option>
                            <option th:each="cubierta: ${cubiertas}" th:text="${cubierta.nombre}"
                                th:value="${cubierta.id_cubierta}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="metroLineal">Ubicación Fisica</label>
                        <div class="form-group form-outline">
                            <textarea class="form-control" id="metroLineal" name="metroLineal"
                                th:field="${descripcionSerieDocDetalle.ubicacionFisica}"
                                placeholder="Introduzca la ubicación fisica" required></textarea>
                            <label class="form-label">Ubicación Fisica</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="metroLineal">Fechas Extremas</label>
                        <select class="select-fieldSerie" style="width: 100%;" id="gestionSelect3" name="fechaExtrema">
                            <option th:value="${edit!=null ? descripcionSerieDocDetalle.fechaExtrema : ''}"
                                th:text="${edit!=null ? descripcionSerieDocDetalle.fechaExtrema : 'Seleccionar'}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="metroLineal">Verificación</label>
                        <div class="form-group form-outline">
                            <input type="text" th:field="${descripcionSerieDocDetalle.verificaion}" class="form-control"
                                placeholder="Introduzca verificación" min="0" required>
                            <label class="form-label">Verificación</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="metroLineal">Contenido</label>
                        <div class="form-group form-outline">
                            <textarea class="form-control" id="metroLineal" name="metroLineal"
                                th:field="${descripcionSerieDocDetalle.contenido}" placeholder="Introduzca el contenido"
                                required></textarea>
                            <label class="form-label">Contenido</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="metroLineal">Observaciones</label>
                        <div class="form-group form-outline">
                            <textarea class="form-control" id="metroLineal" name="metroLineal"
                                th:field="${descripcionSerieDocDetalle.observacion}"
                                placeholder="Introduzca las observaciones"></textarea>
                            <label class="form-label">Observaciones</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="background-color: white;">
                    <button type="submit" class="btn btn-success"
                        th:text="${edit} ? 'Guardar Cambios' : 'Registrar'"></button>
                    <a th:if="${edit != null}" type="button" th:onclick="'cargarFormulariosSubSerie()'"
                        class="btn btn-default float-right">
                        Cancelar</a>
                </div>
        </form>
    </div>
    <!-- /.card -->
    <script>
        $(document).ready(function () {

            var startYear2 = 1900;
            var endYear2 = new Date().getFullYear();
            var selectGestionModal = document.getElementById("gestionSelect3");
            for (var year = endYear2; year >= startYear2; year--) {
                var option = document.createElement("option");
                option.text = year;
                option.value = year;
                selectGestionModal.appendChild(option);
            }

            $('#FormularioRegistrarSubSerieDoc').submit(function (event) {
                event.preventDefault();
                var form = document.getElementById("FormularioRegistrarSubSerieDoc");
                var action = form.action;
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        var mensaje = response;
                        if (mensaje === 'Ya existe un registro con este nombre') {
                            Swal.fire(
                                'Imposible Registrar!',
                                mensaje,
                                'error'
                            );
                        } else if (mensaje === 'Se realizó el registro correctamente' || mensaje === 'Se guardaron los cambios correctamente') {
                            cargarFormulariosSubSerie();
                            cargarTablaSubSerie();
                            Swal.fire(
                                'Registrado!',
                                mensaje + '.',
                                'success'
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.');
                        console.error(error);
                        // Manejo de errores
                    }
                });
            });
        });

    </script>
    <script>
        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        $('.select-fieldSerie').select2({
            theme: 'bootstrap-5',
            placeholder: 'Seleccione una opción'
        });
    </script>
</div>