<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold card-title">Registros de Descripcion de Series Documentales</h6>
                <button type="button" class="btn btn-success ml-auto px-4 py-2" data-mdb-toggle="modal"
                    data-mdb-target="#formularioRegistroModal" onclick="cargarFormulario();">
                    <span class="mr-2">Registrar</span>
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Codigo de Serie</th>
                                <th>Nro. Unidad Documental</th>
                                <th>Contexto</th>
                                <th>Fechas Extremas</th>
                                <th>Fechas Final</th>
                                <th>Metros Lienales</th>
                                <th>Sección</th>
                                <th>Sub Sección</th>
                                <th>Serie Documental</th>
                                <th>Sub Serie Documental</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="descripcionSerieDocumental, rowStat:${descripcionSeriesDocumentales}">
                                <td th:text="${rowStat.count}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.codigoSerie}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.unidadDocumental}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.contexto}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.fechaExtrema}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.fechaFinal}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.metroLineal}"></td>
                                <td class="text-center"
                                    th:text="${descripcionSerieDocumental.unidad.unidadPadre.nombre}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.unidad.nombre}"></td>
                                <td class="text-center"
                                    th:text="${descripcionSerieDocumental.serieDocumental.seriePadre.nombre}"></td>
                                <td class="text-center" th:text="${descripcionSerieDocumental.serieDocumental.nombre}">
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-danger" type="button" data-mdb-toggle="modal"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Ver reporte PDF"
                                            data-mdb-target="#ventanaModalDescripcionSerieDoc"
                                            th:attr="onclick='verReportePdfDescripcionSerieDoc(\'' + ${descripcionSerieDocumental.id_descripcion_serie_documental} + '\')'">
                                            <li class="fa-regular fa-file-pdf"></li>
                                        </a>
                                        <a class="btn btn-success" type="button" data-toggle="modal"
                                            data-target="#modal_SubSerie" style="color: aliceblue;"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar Detalles de Descripción de Series Documental"
                                            th:attr="onclick='cargarVentanaSubSeries(\'' + ${descripcionSerieDocumental.id_descripcion_serie_documental} + '\')'">
                                            <li class="fa-solid fa-plus"></li>
                                        </a>
                                        <a class="btn btn-info" type="button" style="color: aliceblue;"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
                                            data-mdb-toggle="modal" data-mdb-target="#formularioRegistroModal"
                                            th:attr="onclick='cargarModFormulario(\'' + ${descripcionSerieDocumental.id_descripcion_serie_documental} + '\')'">
                                            <li class="fas fa-pencil-alt"></li>
                                        </a>
                                        <a class="btn btn-danger" type="button" style="color: aliceblue;"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"
                                            th:attr="onclick='EliminarRegistro(\'' + ${descripcionSerieDocumental.id_descripcion_serie_documental} + '\')'">
                                            <li class="fa-solid fa-trash"></li>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-secondary">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Codigo de Serie</th>
                                <th>Nro. Unidad Documental</th>
                                <th>Contexto</th>
                                <th>Fechas Extremas</th>
                                <th>Fechas Final</th>
                                <th>Metros Lienales</th>
                                <th>Sección</th>
                                <th>Sub Sección</th>
                                <th>Serie Documental</th>
                                <th>Sub Serie Documental</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
            // Inicializar todos los tooltips de Bootstrap
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
</section>