<div class="modal-header">
  <h2 class="m-0 font-weight-bold card-title" th:text="${edit}? ' Modificar Carpeta ' : ' Crear una nueva Carpeta '">
  </h2>
  <a type="button" class="btn-close" aria-label="Cerrar" data-mdb-toggle="modal" id="cerraModalCarpetaList"></a>
</div>
<form class="form-horizontal" id="FormularioRegistrarCarpeta" method="POST"
  th:action="${edit} ?@{/ModCarpetaG} : @{/RegistrarCarpeta}">
  <div class="modal-body">
    <div th:if="${edit=='true'}">
      <input type="hidden" th:field="${carpeta.id_carpeta}">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <!-- text input -->

        <div class="form-group">
          <label for="tipoArchivo">Tomo/Volumen</label>
          <select class="select-fieldModalCarp" style="width: 100%;" th:field="${carpeta.volumen}"
            id="selectVolumenModalList">
            <option th:each="vol: ${volumenes}" th:text="${vol.nombre}" th:value="${vol.id_volumen}"
              th:selected="${vol == carpeta.volumen}"></option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="tipoArchivo">Serie Documental</label>
          <select class="select-fieldModalCarp" style="width: 100%;" id="selectSerieDModalList"
            th:field="${carpeta.serieDocumental}">
            <option th:value="${edit} ? ${carpeta.serieDocumental.id_serie} : ''"
              th:text="${carpeta.serieDocumental!= null} ? ${carpeta.serieDocumental.nombre} : 'Seleccionar'" selected>
            </option>
            <option th:each="serie: ${seriesDocs}" th:text="${serie.nombre}" th:value="${serie.id_serie}"
              th:if="${serie.seriePadre==null}">
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Gestion</label>
          <select class="select-fieldModalCarp" style="width: 100%;" id="años2" name="gestion">
            <option th:text="${edit}? ${carpeta.gestion} : 'Seleccionar'" th:value="${edit}? ${carpeta.gestion} : ''">
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="background-color: white;">
    <button type="submit" class="btn btn-success" data-mdb-dismiss="modal" aria-label="Cerrar"
      th:text="${edit}? 'Guardar Cambios' : 'Registrar'"></button>
    <a th:each="modificar: ${edit}" th:if="${modificar != null}" type="button" data-mdb-dismiss="modal"
      aria-label="Cerrar" class="btn btn-default float-right">Cancelar</a>
  </div>
</form>


<script>
  $(document).ready(function () {
    $('#FormularioRegistrarCarpeta').submit(function (event) {
      event.preventDefault();
      var form = document.getElementById("FormularioRegistrarCarpeta");
      var action = form.action;
      //alert("la action es: "+action);
      var formData = $(this).serialize();

      var selectVolumenModalList = document.getElementById("selectVolumenModalList").value;
      var selectSerieDModalList = document.getElementById("selectSerieDModalList").value;
      var años2 = document.getElementById("años2").value;
      if (selectVolumenModalList != "" && selectSerieDModalList != "" && años2 != "") {
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          contentType: 'application/x-www-form-urlencoded', // Agregar esta línea
          success: function (response) {
            var mensajeConf = response;
            if (mensajeConf == "Se ha Modificado el registro Correctamente") {
              cargarFormulario();
              cargarTabla();
              //toastr.success(mensajeConf);
              Swal.fire(
                'Realizado!',
                mensajeConf,
                'success'
              );
              ('#cerraModalCarpetaList').click();
            } else {
              cargarFormulario();
              cargarTabla();
              //toastr.success(mensajeConf);
              Swal.fire(
                'Realizado!',
                mensajeConf,
                'success'
              );
              ('#cerraModalCarpetaList').click();
            }
          },
          error: function (xhr, status, error) {
            toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.');
            console.error(error);
            // Manejo de errores
          }
        });
      } else if (selectVolumenModalList == "") {
        toastr.info('Tiene que seleccionar un Volumen para este Registro');
      } else if (selectSerieDModalList == "") {
        toastr.info('Tiene que seleccionar una Serie Documental para este Registro');
      } else if (años2 == "") {
        toastr.info('Tiene que seleccionar un Gestion para este Registro');
      }

    });
  });
</script>
<script>
  var startYear = 1900;
  var endYear = new Date().getFullYear();
  //var endYear = 2100;
  // Obtén una referencia al elemento select
  var select = document.getElementById("años2");
  // Agrega el nuevo elemento option al select
  for (var year = endYear; year >= startYear; year--) {
    // Crea un nuevo elemento option
    var option = document.createElement("option");
    option.text = year;
    option.value = year;
    select.add(option);
  }
</script>
<script>
  $('.select-fieldModalCarp').select2({
    theme: 'bootstrap-5',
    placeholder: 'Seleccione una opción'
  });
</script>