<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold card-title">Registros de Carpetas</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Seccion Documental</th>
                                <th>Sigla Area/Unidad</th>
                                <th>Serie Documental</th>
                                <!--<th>Sub Serie Documental</th>-->
                                <th>Volumen/Tomo</th>
                                <th>Cantidad</th>
                                <th>Gestion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="carp, rowStat:${ListCarpetas}">
                                <td th:text="${rowStat.count}"></td>
                                <td class="text-center" th:text="${carp.unidad.nombre}"></td>
                                <td class="text-center" th:text="'TSE - '+${carp.unidad.sigla}"></td>
                                <!--<td class="text-center" th:text="${carp.serieDocumental.nombre}"></td>-->
                                <td class="text-center">
                                    <div class="dropdown " id="menuArchivo">
                                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="text-decoration: none; color: black;">
                                            <small th:text="${carp.serieDocumental.nombre}"></small>
                                        </a>
                                        <div class="dropdown-menu">
                                            <strong>Sub Series:</strong>
                                            <ul th:each="subSeries: ${carp.serieDocumental.subSeries}">
                                                <li th:text="${subSeries.nombre}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <!--<td class="text-center" th:text="${carp.serieDocumental.nombre}"></td>-->
                                <td class="text-center" th:text="${carp.volumen.nombre}"></td>
                                <td class="text-center" th:text="${carp.TotalArchivo}"></td>
                                <td class="text-center" th:text="${carp.gestion}"></td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-info" type="button"
                                            th:attr="onclick='cargarModFormulario(\'' + ${carp.id_carpeta} + '\')'">
                                            <li class="fas fa-pencil-alt"></li>
                                        </a>
                                        <a class="btn btn-danger" type="button"
                                            th:attr="onclick='EliminarRegistro(\'' + ${carp.id_carpeta} + '\')'">
                                            <li class="fa-solid fa-trash"></li>
                                        </a>
                                        <a class="btn btn-default" type="button" data-mdb-toggle="modal"
                                            data-mdb-target="#AbreCarpetaArchivoList"
                                            th:attr="onclick='AbrirCarpetaList(\'' + ${carp.id_carpeta} + '\')'">
                                            <li class="fa fa-folder-open"></li>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-secondary">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Seccion Documental</th>
                                <th>Sigla Area/Unidad</th>
                                <th>Serie Documental</th>
                                <!--<th>Sub Serie Documental</th>-->
                                <th>Volumen/Tomo</th>
                                <th>Cantidad</th>
                                <th>Gestion</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!--
        <div class="content">
            <div class="container-fluid">
                <div class="card card-info">
                    <div class="container">
                        <h1>Carpetas</h1>
                        
                        <div class="filter-container p-0 row">
                            <div class="filtr-item col-sm-2 border rounded mailbox-attachment-info " data-category="1" data-sort="white sample" th:each="carp:${ListCarpetas}" th:if="${carp.estado!='X'}" style="padding: 5px;">
                                <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-mdb-toggle="modal" data-mdb-target="#carpetaModal" class="btn bg-white"
                                th:attr="onclick='AbrirCarpeta(\'' + ${carp.id_carpeta} + '\')'">
                                <img src="../../static/logo/Logo-TED-Pando-Actual-1-1536x1094.png" class="img-fluid mb-2" alt="white sample"/>
                                </a>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class='fas fa-ellipsis-v'></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" type="button" data-mdb-toggle="modal" data-mdb-target="#FormModCarpModal" 
                                        th:attr="onclick='cargarModFormularioModal(\'' + ${carp.id_carpeta} + '\')'">Editar</a>
                                        <a class="dropdown-item" type="button" th:attr="onclick='EliminarRegistro(\'' + ${carp.id_carpeta} + '\')'">Eliminar</a>
                                    </div>
                                </div>
                                
                                <h5 class="font-weight-bold mb-0 text-align" th:text="${carp.volumen.nombre}"></h5>
                                <p th:text="${'Seccion: '+carp.unidad.nombre}" class="m-0"></p>
                                <p th:text="${'Serie: '+carp.serieDocumental.seriePadre.nombre}" class="m-0"></p>
                                <p th:text="${'Cant. de Hojas: '+carp.TotalArchivo}" class="m-0"></p>
                                <p th:text="${'Gestion: '+carp.gestion}" class="text-muted m-0"></p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</section>