<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold card-title">Registros de Carpetas</h6>
                <div class="btn-group float-sm-right">
                    <a class="btn btn-success" type="button" data-mdb-toggle="modal"
                        data-mdb-target="#FormModCarpModalList" onclick="cargarFormulario()"
                        th:if="${#lists.contains(permisos.![nombre], 'registrar_carpeta')}">
                        <i class="fa-solid fa-folder-plus"></i> Nueva Carpeta
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Seccion Documental</th>
                                <th>Sigla Area/Unidad</th>
                                <th>Serie Documental</th>
                                <th>Volumen/Tomo</th>
                                <th>Cantidad</th>
                                <th>Gestion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="carp, rowStat:${ListCarpetas}">
                                <td th:text="${rowStat.count}"></td>
                                <td class="text-center" th:text="${carp.unidad.nombre}"></td>
                                <td class="text-center" th:text="'TSE - '+${carp.unidad.sigla}"></td>
                                <td class="text-center">
                                    <div class="dropdown " id="menuArchivo">
                                        <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                                            style="text-decoration: none; color: black;">
                                            <small th:text="${carp.serieDocumental.nombre}"></small>
                                        </a>
                                        <div class="dropdown-menu">
                                            <strong>Sub Series:</strong>
                                            <ul th:each="subSeries: ${carp.serieDocumental.subSeries}">
                                                <li th:text="${subSeries.nombre}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" th:text="${carp.volumen.nombre}"></td>
                                <td class="text-center" th:text="${carp.TotalArchivo}"></td>
                                <td class="text-center" th:text="${carp.gestion}"></td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa-solid fa-gear"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" type="button" data-mdb-toggle="modal"
                                                data-mdb-target="#AbreCarpetaArchivoList"
                                                th:attr="onclick='AbrirCarpetaList(\'' + ${carp.id_carpeta} + '\')'">
                                                <i class="fa fa-folder-open"></i>
                                                <small>Ver Contenido</small></a>
                                            <a class="dropdown-item" type="button" data-mdb-toggle="modal"
                                                data-mdb-target="#FormExcelArchivo"
                                                th:attr="onclick='abrirModalExcel(\'' + ${carp.id_carpeta} + '\')'">
                                                <i class="fa-solid fa-file-arrow-up"></i>
                                                <small>Subir Excel</small></a>
                                            <a class="dropdown-item" type="button" data-mdb-toggle="modal"
                                                data-mdb-target="#ventanaModalTransferencia"
                                                th:attr="onclick='generarFormularioTransferencia(\'' + ${carp.id_carpeta} + '\')'">
                                                <i class="fa-solid fa-file-invoice"></i>
                                                <small>Ver Formulario de Transferencia</small></a>
                                            <a class="dropdown-item" type="button" data-mdb-toggle="modal"
                                                data-mdb-target="#FormModCarpModalList"
                                                th:if="${#lists.contains(permisos.![nombre], 'editar_carpeta')}"
                                                th:attr="onclick='cargarModFormularioList(\'' + ${carp.id_carpeta} + '\')'">
                                                <i class="fas fa-pencil-alt"></i>
                                                <small>Editar Carpeta</small></a>
                                            <a class="dropdown-item" type="button"
                                                th:if="${#lists.contains(permisos.![nombre], 'eliminar_carpeta')}"
                                                th:attr="onclick='eliminarRegistroSeleccionado(\'' + ${carp.id_carpeta} + '\')'">
                                                <i class="fas fa-trash"></i><small> Eliminar Carpeta</small></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-secondary">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Seccion Documental</th>
                                <th>Sigla Area/Unidad</th>
                                <th>Serie Documental</th>
                                <th>Volumen/Tomo</th>
                                <th>Cantidad</th>
                                <th>Gestion</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</section>