<div class="container-fluid">
    <!-- /.card -->
    <!-- Horizontal Form -->
    <div class="card card-info">
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" id="SubFormularioT" method="POST"
            th:action="${edit} ? @{/ModSubRegistroG} : @{/GuardarSubRegistro}" enctype="multipart/form-data">
            <div class="card-body">
                <div th:if="${edit == 'true'}">
                    <input type="hidden" th:field="${caja.id_caja}" />
                    <input type="hidden" th:field="${caja.formularioTransferencia}" id="id_formTransferencia">
                </div>
                <div id="FormTransferencia"></div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group form-outline">
                            <input type="number" th:field="${caja.fojas}" class="form-control"
                                placeholder="Introdusca un numero" min="0" required />
                            <label class="form-label">Nro Fojas:</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-outline">
                            <textarea type="text" th:field="${caja.notas}" class="form-control"
                                placeholder="Introdusca una nota"></textarea>
                            <label class="form-label">Notas:</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-outline">
                            <input type="text" th:field="${caja.tituloDoc}" class="form-control"
                                placeholder="Introdusca un titulo" required />
                            <label class="form-label">Titulo del Documento:</label>
                        </div>
                    </div>
                    <div class="row col-sm-6">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipoArchivo">Tomo/Volumen:</label>
                                <select class="select-fieldSubForm" style="width: 100%;" th:field="${caja.volumen}"
                                    id="selectVolumen">
                                    <option th:each="vol: ${volumenes}" th:text="${vol.nombre}"
                                        th:value="${vol.id_volumen}" th:selected="${vol == caja.volumen}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Año:</label>
                                <select class="select-fieldSubForm2" style="width: 100%;" id="años" name="gestion">
                                    <option th:text="${edit} ? ${caja.gestion} : 'Seleccionar'"
                                        th:value="${edit} ? ${caja.gestion} : ''" th:selected="${edit}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-6">
                        <div class="form-group">
                            <label for="tipoArchivo">Cubierta:</label><br>
                            <div class="input-group" style="width: 100%;">
                                <select class="select-fieldSubForm2" style="width: 90%;" th:field="${caja.cubierta}"
                                    id="selectCubierta">
                                    <option th:value="${edit} ? ${caja.cubierta.id_cubierta} : ''"
                                        th:text="${edit} ? ${caja.cubierta.nombre} : 'Seleccionar'" selected>
                                    </option>
                                    <option th:each="cu: ${cubiertas}" th:text="${cu.nombre}"
                                        th:value="${cu.id_cubierta}">
                                    </option>
                                </select>
                                <a class="btn btn-success" type="button" onclick="AgregarCubierta()">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="background-color: white;">
                    <button type="submit" class="btn btn-success"
                        th:text="${edit} ? 'Guardar Cambios' : 'Registrar'"></button>
                    <a th:each="modificar: ${edit}" th:if="${modificar != null}" type="button"
                        th:attr="onclick='cargarSubFormularios(\'' + ${caja.formularioTransferencia.id_formularioTransferencia} + '\')'"
                        class="btn btn-default float-right">Cancelar</a>
                </div>
        </form>
    </div>
    <!-- /.card -->
    <script>
        $(document).ready(function () {
            $('#SubFormularioT').submit(function (event) {
                event.preventDefault();
                //alert("la action es:");
                var form = document.getElementById("SubFormularioT");
                var fromT = document.getElementById("id_formTransferencia").value;
                var action = form.action;
                var accion = action.split('/');

                //alert("la action es: " + accion[accion.length - 1]);

                //var formData = new FormData(form);
                // alert("la action es: "+action);
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    contentType: 'application/x-www-form-urlencoded', // Agregar esta línea
                    //contentType: 'application/x-www-form-urlencoded', // Agregar esta línea
                    success: function (response) {
                        //alert("el id del form trans es: "+fromT);

                        cargarTabla();
                        cargarSubFormularios(fromT);
                        cargarSubTabla(fromT);
                        //toastr.success('Los datos del Registro se han Modificado Correctamente');
                        var div = document.getElementById("dataTable");
                        div.scrollIntoView({ behavior: 'smooth' });

                        if (accion[accion.length - 1] == 'GuardarSubRegistro') {
                            Swal.fire(
                                'Registrado!',
                                'Se ha añadido un nuevo registro Correctamente.',
                                'success'
                            );
                        } else {
                            Swal.fire(
                                'Modificado!',
                                'Los datos del Registro se han Modificado Correctamente.',
                                'success'
                            );
                        }


                    },
                    error: function (xhr, status, error) {
                        //toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.');
                        console.error("1:" + error);
                        console.error("2:" + status);
                        console.error("3:" + xhr);
                        // Manejo de errores
                        Swal.fire(
                            'Error!',
                            "1: " + error + " |2: " + status + " |3: " + xhr,
                            'error'
                        );
                    }
                });
            });
        });

    </script>
    <script>
        Dropzone.options.myForm = {
            maxFiles: 1,
            autoProcessQueue: false,

            init: function () {
                var myForm = document.getElementById("FormularioRegistrarArchi");
                var dropzone = this;

                myForm.addEventListener("submit", function (event) {
                    event.preventDefault();

                    if (dropzone.getQueuedFiles().length > 0) {
                        dropzone.processQueue();
                    } else {
                        myForm.submit();
                    }
                });
            }
        };
    </script>
    <script>
        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });
    </script>
    <script>
        $('.select-fieldSubForm').select2({
            theme: 'bootstrap-5'
        });

        $('.select-fieldSubForm2').select2({
            theme: 'bootstrap-5'
        });
    </script>
    <script>
        var startYear = 1900;
        var endYear = new Date().getFullYear();
        //var endYear = 2100;
        // Obtén una referencia al elemento select
        var select = document.getElementById("años");
        // Agrega el nuevo elemento option al select
        for (var year = endYear; year >= startYear; year--) {
            // Crea un nuevo elemento option
            var option = document.createElement("option");
            option.text = year;
            option.value = year;
            select.add(option);
        }
    </script>
    <script>
        function AgregarCubierta() {
            Swal.fire({
                title: 'Agregar Cubierta',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Agregar',
                html: '<br><div class="container-fluid">' +
                    '<form class="form-horizontal" id="FormAgregarCubierta" method="POST" action="/RegistrarCubiertaA">' +
                    '<div class="form-group form-outline">' +
                    '<input type="text" name="nombreCubierta" id="nombreCubierta" class="form-control" placeholder="Introduzca Nombre de la Cubierta" required/>' +
                    '<label class="form-label" for="nombre">Nombre de la Cubierta</label>' +
                    '</div>' +
                    '</form>' +
                    '</div>'
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = $('#FormAgregarCubierta').serialize();
                    $.ajax({
                        type: 'POST',
                        url: $('#FormAgregarCubierta').attr('action'),
                        data: formData,
                        contentType: 'application/x-www-form-urlencoded',
                        success: function (response) {
                            if (response == 'Se realizó el registro correctamente') {
                                $.ajax({
                                    type: 'POST',
                                    url: '/DatoCubierta',
                                    data: formData,
                                    contentType: 'application/x-www-form-urlencoded',
                                    success: function (fila) {
                                        var select = document.getElementById('selectCubierta');
                                        var option = document.createElement('option');
                                        option.value = fila[0];
                                        option.text = fila[1];
                                        option.selected = true;
                                        select.appendChild(option);

                                        Swal.fire({
                                            icon: "success",
                                            title: "Registrado!",
                                            text: response + '.',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });

                                        /*Swal.fire(
                                            'Registrado!',
                                            response + '.',
                                            'success',
                                            showConfirmButton: false,
                                            timer: 1500
                                        );*/
                                    }, error: function (xhr, status, error) {
                                        console.log(error);
                                    }
                                });
                            } else {
                                Swal.fire(
                                    'Imposible Registrar!',
                                    response + '.',
                                    'error'
                                );
                            }

                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            });
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });
        }

    </script>
</div>