<div class="container-fluid">
  <!-- /.card -->
  <!-- Horizontal Form -->
  <div class="modal-header ">
    <h2 class="m-0 font-weight-bold card-title" th:text="${edit}? 'Modificar Rol' : 'Registrar Rol'"></h2>
    <button type="button" class="close" aria-label="Cerrar" data-mdb-toggle="modal" id="cerrarVentanaFormulario">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form class="form-horizontal" id="FormularioRegistrarRol" method="POST"
    th:action="${edit} ?@{/ModRolG} : @{/GuardarRegistroRol}">
    <div class="modal-body">
      <div th:if="${edit=='true'}">
        <input type="hidden" th:field="${rol.id_rol}">
        <input type="hidden" th:value="${edit}" id="editar">
        <input type="hidden" id="numeroFila">
      </div>
      <!--<div id="numeroFila"></div>-->
      <div class="row">
        <div class="col-sm-12">
          <!-- text input -->
          <div class="form-group form-outline">
            <input type="text" th:field="${rol.nombre}" class="form-control" placeholder="Escribe el nombre de un rol" required>
            <label class="form-label">Rol</label>
          </div>
        </div>
        <div class="col-sm-12">
          <!-- text input -->
          <label class="form-label">Menus Disponibles</label>
          <select class="select-field-Multiple" style="width: 100%;" th:field="${rol.menus}" id="selectMenu" multiple>
            <option th:each="menu: ${menus}" th:text="${menu.nombre}" th:value="${menu.id_menu}" th:if="${menu.idText != null}"
              th:selected="${menu == rol.menus}">
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" th:text="${edit}? 'Guardar Cambios' : 'Registrar'"></button>
      <a type="button" aria-label="Cerrar" data-mdb-toggle="modal" class="btn btn-default float-right">Cancelar</a>
    </div>
    <!-- /.card-footer -->
  </form>

</div>
<!-- /.card -->
<script>
  $(document).ready(function () {

    $('.select-field-Multiple').select2({
      theme: 'bootstrap-5',
      placeholder: 'Seleccione uno o mas opciones'
    });

    $('#FormularioRegistrarRol').submit(function (event) {
      event.preventDefault();

      var form = document.getElementById("FormularioRegistrarRol");

      var action = form.action;

      //alert("la action es: "+action);
      var formData = $(this).serialize();

      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: formData,
        contentType: 'application/x-www-form-urlencoded',
        success: function (response) {
          console.log(response);
          var mensaje = response;
          if (mensaje === 'Ya existe un registro con este nombre') {
            Swal.fire(
              'Imposible Registrar!',
              mensaje,
              'error'
            );
          } else if (mensaje === 'Se realizó el registro correctamente' || mensaje === 'Se guardaron los cambios correctamente') {
            cargarFormulario();
            cargarTabla();
            var div = document.getElementById("dataTable");
            div.scrollIntoView({ behavior: 'smooth' });
            $('#cerrarVentanaFormulario').click();
            Swal.fire(
              'Registrado!',
              mensaje + '.',
              'success'
            );
          }

        },
        error: function (xhr, status, error) {
          toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error);
          console.error(error);
          // Manejo de errores
        }
      });
    });
  });
</script>
<script>
  document.querySelectorAll('.form-outline').forEach((formOutline) => {
    new mdb.Input(formOutline).init();
  });
</script>
<style>
  .select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #FBA107;
    border: 1px solid #494949;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    position: relative;
  }

  .select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #ff331c;
    font-weight: bold;
    font-size: 16px;
  }
</style>
</div>