<section class="content">
    <div class="container-fluid">
        <div class="card card-info">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold card-title">Registros de Unidades/Secciones</h6>
                <button type="button" class="btn btn-success ml-auto px-4 py-2" data-mdb-toggle="modal"
                    data-mdb-target="#formularioRegistroModal" onclick="cargarFormulario();"
                    th:if="${#lists.contains(permisos.![nombre], 'registrar_unidadFuncional')}">
                    <span class="mr-2">Registrar</span>
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nombre de la Unidad/Sección</th>
                                <th>Sub Unidades/Sub Secciones</th>
                                <th th:if="${#lists.contains(permisos.![nombre], 'editar_unidadFuncional') or #lists.contains(permisos.![nombre], 'eliminar_unidadFuncional') or #lists.contains(permisos.![nombre], 'administrad_subUnidadFuncional')}">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="unid, rowStat:${unidades}"
                                th:if="${unid.estado!='X' && unid.unidadPadre==null}">
                                <td th:text="${rowStat.count}"></td>
                                <td class="text-center" th:text="${unid.nombre}+'('+${unid.sigla}+')'"></td>
                                <td class="text-center">
                                    <div class="list-group">
                                        <div>
                                            <div th:each="subunidad: ${unid.subUnidades}">
                                                <a class="list-group-item list-group-item-action"
                                                    th:text="${subunidad.nombre}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" th:if="${#lists.contains(permisos.![nombre], 'editar_unidadFuncional') or #lists.contains(permisos.![nombre], 'eliminar_unidadFuncional') or #lists.contains(permisos.![nombre], 'administrad_subUnidadFuncional')}">
                                    <div class="btn-group">
                                        <a class="btn btn-secondary" type="button" data-mdb-toggle="modal"
                                            data-mdb-target="#ModalSubUnidad" title="Ver Sub Unidades?"
                                            style="color: aliceblue;"
                                            th:if="${#lists.contains(permisos.![nombre], 'administrad_subUnidadFuncional')}"
                                            th:attr="onclick='cargarVentanaSubUnidades(\'' + ${unid.id_unidad} + '\')'">
                                            <li class="fa-solid fa-eye"></li>
                                        </a>
                                        <a class="btn btn-danger" type="button" title="Eliminar Registro"
                                                style="color: aliceblue;"
                                                th:if="${#lists.contains(permisos.![nombre], 'eliminar_unidadFuncional')}"
                                                th:attr="onclick='EliminarRegistro(\'' + ${unid.id_unidad} + '\', \'' + ${unid.nombre} + '\', \'' + ${unid.subUnidades.size} + '\')'">
                                                <li class="fa-solid fa-trash "></li>
                                            </a>
                                            <a class="btn btn-info" type="button" title="Editar Registro"
                                                data-mdb-toggle="modal" data-mdb-target="#formularioRegistroModal"
                                                style="color: aliceblue;"
                                                th:if="${#lists.contains(permisos.![nombre], 'editar_unidadFuncional')}"
                                                th:attr="onclick='cargarModFormulario(\'' + ${unid.id_unidad} + '\')'">
                                                <li class="fas fa-pencil-alt "></li>
                                            </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-secondary">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nombre de la Unidad/Sección</th>
                                <th>Sub Unidades/Sub Secciones</th>
                                <th th:if="${#lists.contains(permisos.![nombre], 'editar_unidadFuncional') or #lists.contains(permisos.![nombre], 'eliminar_unidadFuncional') or #lists.contains(permisos.![nombre], 'administrad_subUnidadFuncional')}">Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</section>
<style>
    /* Estilos CSS personalizados para el botón */
    .btn-success {
        background-color: #28a745;
        /* Cambiar el color de fondo */
        border-color: #28a745;
        /* Cambiar el color del borde */
        color: #fff;
        /* Cambiar el color del texto */
        transition: background-color 0.3s ease;
        /* Agregar transición suave */
    }

    .btn-success:hover {
        background-color: #218838;
        /* Cambiar el color de fondo al pasar el mouse */
    }

    /* Estilos para el icono de Font Awesome */
    .btn-success .fas {
        margin-left: 5px;
        /* Ajustar el espacio entre el texto y el icono */
    }
</style>